<div class="results-block">
    <!-- Placeholder for messages -->
</div>


<div id="stock-lookup-results" class="well results-block">
    <strong>Symbol: </strong> {‌{stock.symbol}}
    <strong>Name: </strong>   {‌{stock.name}}
    <strong>Price: </strong>  {‌{stock.last_price}}

    <a href="#" class="btn btn-xs btn-success">Add to My Stocks</a>
    <span class="label label-default"></span>
</div>

